<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.qp.app_new"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- 网络请求 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 包安装监听 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <!-- 读取本地配置数据 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 监听 WIFI 样式 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 修改网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 定位 -->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>-->
    <!-- 监听网络状态变化 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- 往 SDCard 写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 在 SDCard 中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 随机启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoTitleTheme">

        <!--欢迎界面Activity-->
        <activity android:name=".activitys.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--主Activity-->
        <activity
            android:name=".activitys.MainActivity"
            android:launchMode="singleTask"/>
        <!--登录Activity-->
        <activity
            android:name=".activitys.mine.ForgetPwdActivity$LoginActivity"
            android:launchMode="singleTask"/>
        <!--关于我们Activity-->
        <activity android:name=".activitys.mine.AboutUsActivity"/>
        <!--游戏主页Activity-->
        <activity android:name=".activitys.home.GameActivity"/>
        <!--投注详情Activity-->
        <activity android:name=".activitys.home.LotteryDetailActivity"/>
        <!--投注界面Activity-->
        <activity android:name=".activitys.home.BetActivity"/>
        <!--投注-单点Activity-->
        <activity android:name=".activitys.home.BetDandianActivity"/>
        <!--投注列表界面Activity-->
        <activity android:name=".activitys.home.BetedListActivity"/>
        <!--注册Activity-->
        <activity android:name=".activitys.mine.RegisterActivity"/>
        <!--修改密码Activity-->
        <activity android:name=".activitys.mine.ModifyPwdActivity"/>
        <!--忘记密码Activity-->
        <activity android:name=".activitys.mine.ForgetPwdActivity"/>
        <!--玩法介绍Activity-->
        <activity android:name=".activitys.home.PayingMethodActivity"/>
        <!--实际赔率Activity-->
        <activity android:name=".activitys.home.ActualOddsActivity"/>
        <!--亏赢Activity-->
        <activity android:name=".activitys.home.RevenueActivity"/>

        <!--下载APKService-->
        <service android:name=".services.DownloadService">
            <intent-filter>
                <action android:name="com.qp.app_new.services.DownloadService"/>
            </intent-filter>
        </service>

        <!--友盟-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>
    </application>

</manifest>